.footer {
    color: antiquewhite;
    background: #061978;
    padding: 60px 0 66px;
}

.footer__inner {
    display: grid;
    gap: 40px 15px;
    justify-content: space-between;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 100px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}

.footer__col-link:hover::before {
    opacity: 1;
}

.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    transition: var(--transition);
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
}


/* Общий эффект при наведении на все ссылки в футере */
.footer a {
    transition: all 0.3s ease;
}

.footer a:hover {
    /* Меняем цвет, например, на более яркий или контрастный */
    color: #ffcc00; /* или любой другой цвет */
    /* Можно добавить масштаб */
    transform: scale(1.05);
}